# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Packaging
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.pkl
*.log